<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<title>Item</title>
</head>
<body>
	<h1 layout:fragment="header">Item</h1>
	<div layout:fragment="content" class="well">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Item gravado com sucesso</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Nome</td>
					<td>Preço</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label th:text="${item.id}"></label></td>
					<td><label th:text="${item.nome}"></label></td>
					<td><label th:text="${item.preco}"></label></td>
				</tr>
			</tbody>
		</table>
		<div class="pull-left">
			<a th:href="@{'/itens/alterar/'+${item.id}}">Alterar</a> |
			<a th:href="@{'/itens/remover/'+${item.id}}">Remover</a> |
			<a th:href="@{/itens/}">Voltar</a>
		</div>
	</div>
</body>
</html>